<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url="affiliateplusdirectlink"}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a></p></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{var account}}</strong></p>
                            <p>There is someone who has just verified your domain <strong>{{var domain}}</strong>.</p>
                            <p>Please check it again. If it is still yours, you can click on this link to verify again <a href="{{store url="affiliateplusdirectlink"}}" style="color:#1E7EC8;">{{var domain}}</a>. Thank you very much!</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>